*{
    margin:0px;
    padding:0px;
    
}

.background {
    background-color:white;
}

.titlebar {
    height: 40px;
    background-color: black;
    display:flex;
}

.logo_back {
    margin-left:10px;
    margin-top:5px;
    width:4%;
    text-align:center;
}

.logo {
    margin-top:3px;
}

a{
    color: black;
    text-decoration: none;
}

.place_back {
    width:17%;
    height:30px;
    margin-left:80%;
}

.place {
    margin-top:6px;
}

.table {
    margin:3px;
    padding:3px;
    background-color:white;
}

.search_back {
    height:450px;
    margin:2px;
    padding:2px;
    border:1px solid black;
    background-color:white;
}

.category {
    margin-top:3px;
    display:flex;
}

.category_l {
    margin-left:3px;
}

.category_m {
    margin-left:3px;
}

.category_s {
    margin-left:3px;
}

.search{
    margin-left:3px;
}

.item_back {
    height:70px;
    margin:3px;
    padding:3px;
    border:1px solid lightgray;
    background-color: white;
}

.item_img {
    float:left;
}

.item_info{
    text-align:center;
    margin-top:3px;
}

.category_large {
    font-size:11px;
    margin-top:1px;
}

.category_medium {
    font-size:11px;
    margin-top:1px;
}

.category_small {
    font-size:11px;
    margin-top:1px;
}

.item_name {
    font-size:12px;
    margin-top:1px;
}

.item_delete {
    float:right;
}

.bag_back {
    margin:2px;
    padding:2px;
    border:1px solid black;
    height:300px;
    background-color:white;
}

.bag {
    text-align:center;
}

.menubar {
    width: 200px;
    vertical-align: top;
}

.range {
    opacity : 1;
    float:right;
    margin-right:4px;
    padding:1px;
    position:relative;
    z-index:10;
}

.info {
    width: 70%;
    margin: 20px;
}

.maker {
    text-align: center;
}
